@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap"); 




/*Loading Spinner*/

.loader {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: white;
-webkit-animation: seconds 1.0s forwards;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 2s;
  animation: seconds 1.0s forwards;
  animation-iteration-count: 1;
  animation-delay: 2s;
}

@-webkit-keyframes seconds {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      /*left: -9999px;*/
    }
  }
  @keyframes seconds {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      /*left: -9999px;*/
    }
  }

.loader__element {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #9356DC;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear /*infinite*/;
    animation: spin 2s linear /*infinite*/;
    animation-fill-mode: forwards;
    position: absolute;
    margin: auto;
    top:0; left: 0; right: 0; bottom: 0;
    /*z-index: 100;*/
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); opacity: 1;}
    90% {opacity: 1;}
    100% { transform: rotate(360deg); opacity: 0;}
  }

  @-webkit-keyframes spin {
    0% { transform: rotate(0deg); opacity: 1;}
    90% {opacity: 1;}
    100% { transform: rotate(360deg); opacity: 0;}
  }

.page-entiere-sans-loader {
    -webkit-animation: introduction 1.0s backwards;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 2s;
  animation: introduction 1.0s backwards;
  animation-iteration-count: 1;
  animation-delay: 2s;
}

@-webkit-keyframes introduction {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      /*left: -9999px;*/
    }
  }
  @keyframes introduction {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      /*left: -9999px;*/
    }
  }



  



/* Propriétés des textes */

body{
    font-family: 'Roboto', sans-serif;
}

p, li
{
    font-weight: 400;
    margin: 0;
}

h1, h2, h3 {
    font-weight: 900;
    margin: 0;
}

h1, h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1em;
}

ul {
    list-style-type: none;
  }

li {
    padding: 0 1em 0 1em;
}

a {
    text-decoration: none;
    color: black;
}



/*@media all and (max-width: 576px)
{
*/
body
{
    font-size: 1em;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-around;
}

.header__heading img {
    width: 10em;
    padding: 1em 0 .7em 0;
}

.header__nav {
    display: none;
}

.header_nav__link {
    display: inline-flex;
}


/* Header */

.section--grey {
    background-color: #f2f2f2;
}

.selec-ville {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.selec-ville__form {
    display: flex;
    justify-content: center;
    background-color: #e6e6e6;
    box-shadow: inset 0 7px 5px -7px rgba(100, 100, 100, 0.5);
    padding: 1em 0 1em 0;
}

.selec-ville__description {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 2.5em 2em 2.5em 2em;
}

.selec-ville__description p {
    color: #2e2e2e;
    padding-top: 1em;
}

.fa-map-marker-alt {
    margin-right: 1em;
}

.btn-grad {
    background: linear-gradient(to top, #9356DC, #FF79DA);
    border: none;
    padding: 1em 2em;
    margin: 2em 0 1em 0;
    text-align: center;
    background-size: 200% auto;
    font-family: 'Roboto';
    color: white;            
    box-shadow: 0 3px 7px 0 rgba(100, 100, 100, 0.5);
    border-radius: 5em;
    margin-left : auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
    cursor: pointer;
    transition: 200ms;
}



.btn-grad:hover{
    background: linear-gradient(rgba(255,121,218, 0.9), rgba(147,86,220, 0.9) );
    box-shadow: 0 3px 7px 0 rgba(100, 100, 100, 0.7);
}

button, input[type="search"] {
    border: none;
    background: none;
    font-weight: 700;
    color: #2e2e2e;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.section {
    padding: 2.5em 2em 3em 2em;
}

.fonctionnement__etape {
    display: flex;
    align-items: center;
    margin-top: 1.5em;
    width: 100%;
}

.numero-cercle {
    border-radius: 50%;
    width: 1em;
    height: 1em;
    padding: .3em;

    background: #9356DC;
    color: #fff;
    text-align: center;
    font-size: .8em;
    font-family: 'Roboto';
    z-index: 2;
}

.consigne {
    margin-left: -.7em;
    padding: 1.5em;
    border-radius: 1em;
    display: flex;
    flex-grow: 1;
    align-items: center;
    box-shadow: 0 3px 10px 0 rgb(100 100 100 / 25%);
    z-index: 1;
}

.consigne i {
    color: #505050;
    padding: 0 1em 0 .5em;
}

.consigne p {
    font-weight: 900;
}

.consigne:hover {
    background-color: rgb(243, 233, 255) ;
}

.consigne:hover> i {
    color: rgb(147, 86, 220);
}

.restaurants-prev {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    box-shadow: 0 3px 10px 0 rgb(100 100 100 / 25%);
    position: relative;
    transition: transform .2s;
}

.restaurants-prev:hover {
    transform: scale(1.2)
}

.restaurants-prev a:visited {
    color: black;
}

.palette-du-gout, .note-enchantee, .a-la-francaise, .le-delice-des-sens {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.palette-du-gout {
    animation-delay: 0ms;
}

.note-enchantee {
    animation-delay: 150ms;
    opacity: 0;
}

.a-la-francaise {
    animation-delay: 300ms;
    opacity: 0;
}

.le-delice-des-sens {
    animation-delay: 450ms;
    opacity: 0;
}

@keyframes fadeInAnimation {
0% {
    opacity: 0;
    -webkit-transform: translateY(10%);
    -moz-transform: translateY(10%);
}
100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
 }
}

.restaurants img {
    height: 150px;
    width: 100%;
    object-fit: cover;
    border-radius: 1em 1em 0 0;
}

.restaurants-prev .nouveau{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color:#069974;
    background-color: #99E2D0;
    padding:.5em;
    border-radius: .2em;
    /*margin: 1em;*/
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.restaurants .description {
    background-color: white;
    padding: 1em;
    border-radius: 0 0 1em 1em;
    display: flex;
    justify-content: space-between;
}

.description__like .fa-heart{
    font-size: 1.3em;
    cursor: pointer;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    color: white;
}


.description__like .fa-heart:hover {
background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: border-box;
  color: transparent;
  -webkit-text-stroke-width: 0px;
  -webkit-background-clip: text;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
  font-weight: 900;
  }



footer {
    padding: 1.5em 1.5em 1.5em 1.5em;
    background-color: #2e2e2e;
    color: white;
}

.footer__logo img {
    filter:  brightness(0) invert(1);
    width: 100px;
    margin-bottom: .5em;
}

.footer .nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer .nav__link {
    padding-top: .6em;
    padding-left: 0;
}

.footer a {
    color: white;
}

.footer i {
    width: 1em;
    padding-right: 1em;
}











@media all and (min-width: 768px)
{
    .footer__logo{
        display: flex;
        justify-content: space-around;
        margin-bottom: 1em;
    }

    .footer .nav{
        display: flex;
        justify-content: space-around;
    }
}














@media all and (min-width: 913px)
{

    .fonctionnement__liste{
        display: flex;
        justify-content: space-between;
    }

    .fonctionnement__etape{
        width: 32%;
    }

    .grid{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .restaurants-prev{
        width: 49%;
        margin-top: 1.4em;
    }

}