@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");


/* Propriétés des textes */

body{
    font-family: 'Roboto', sans-serif;
}

p, li
{
    font-weight: 400;
    margin: 0;
}

h1 {
    font-family: 'Shrikhand', cursive;
    font-weight: 500;
    font-size: 1.7em;
    margin: 0;
}
h2, h3 {
    margin: 0;
}

h2 {
    font-size: 1.2em;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 1.3em;
}

h2::before {
    content: "";
    position: absolute;
    margin-top: 1.3em;
    width: 2.5em;
    height: .15em;
    background: #99E2D0;
  }

h3 {
    font-size: 1.2em;
    font-weight: 900;
}

strong {
    font-weight: 900;
}

ul {
    list-style-type: none;
  }

li {
    padding: 0 1em 0 1em;
}

a {
    text-decoration: none;
}





body
{
    font-size: 1em;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header__heading {
    align-items: center;
    display: flex;
    justify-content: center;
}

.header__heading .back{
    margin-left: 5%;
    margin-right: -5%;
    flex: 1;
}

.header__heading img {
    width: 10em;
    padding: 1em 0 .7em 0;
}

.header__heading .vide {
    flex: 1;
}




/* Header */

.section {
    padding: 2em 1em 3em 1em;
}

.photo-restaurant {
    object-fit: cover;
    height: 300px;
    width: 100%;
}


.section--grey {
    background-color: #f2f2f2;
    border-radius: 2em 2em 0 0;
    position: relative;
    margin-top: -3em;
    
}

.section__heading {
    display: flex;
    justify-content: space-between;
}

.restaurant__like .fa-heart{
    font-size: 1.7em;
    margin-top: .2em;
    margin-right: 1em;
    cursor: pointer;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    color: #f2f2f2;
}

.restaurant__like .fa-heart:hover{
    background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: border-box;
  color: transparent;
  -webkit-text-stroke-width: 0px;
  -webkit-background-clip: text;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
  font-weight: 900;
}


.menu__categorie {
    margin-top: 2em;
}

.plat {
    background: white;
    border-radius: 1em;
    box-shadow: 0 2px 10px 0 rgb(100 100 100 / 15%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1em;
    cursor: pointer;
    overflow: hidden;
    width: 100%;
}

.plat-a, .plat-b, .plat-c, .plat-d, .plat-e, .plat-f, .plat-g, .plat-h, .plat-i, .plat-j {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity: 0;
}

.plat-a {animation-delay: 0ms;}
.plat-b {animation-delay: 100ms;}
.plat-c {animation-delay: 200ms;}
.plat-d {animation-delay: 300ms;}
.plat-e {animation-delay: 400ms;}
.plat-f {animation-delay: 500ms;}
.plat-g {animation-delay: 600ms;}
.plat-h {animation-delay: 700ms;}
.plat-i {animation-delay: 800ms;}
.plat-j {animation-delay: 900ms;}

@keyframes fadeInAnimation {
0% {
    opacity: 0;
    -webkit-transform: translateY(10%);
    -moz-transform: translateY(10%);
}
100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
 }
}

.plat__info {
    display: flex;
    width: 100%;
    padding: 1rem;
    justify-content: space-between;
}


.plat__description {
    width: 75%;
}

.plat h3, .plat p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.plat__prix {
    width: 15%;
    display: flex;
    justify-content: flex-end;
    align-items: end;
}



.plat:hover> .plat__info{
    width: 73%;
    transition: all .5s ease-in;
}

.plat__animation {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #99e2d0;
    color: white;
    font-size: 1.7em;
    width: 0%;
    overflow: hidden;
    -webkit-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
}

.plat:hover> .plat__animation{
    width: 23%;
}


.plat:hover .fa-check-circle {
    transform: rotate(1turn);
    -webkit-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
    animation-delay: 2s;
}

.btn-grad {
    background-image: linear-gradient(to top, #9356DC, #FF79DA);
    border: none;
    padding: 1em 2em;
    margin: 3em 0 1em 0;
    text-align: center;
    background-size: 200% auto;
    font-family: 'Roboto';
    color: white;            
    box-shadow: 0 3px 7px 0 rgba(100, 100, 100, 0.5);
    border-radius: 5em;
    margin-left : auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 200ms;
}

.btn-grad:hover{
    background: linear-gradient(rgba(255,121,218, 0.9), rgba(147,86,220, 0.9) );
    box-shadow: 0 3px 7px 0 rgba(100, 100, 100, 0.7);
}

button, input[type="search"] {
    border: none;
    background: none;
    font-weight: 700;
    color: #2e2e2e;
}




footer {
    padding: 1.5em 1.5em 1.5em 1.5em;
    background-color: #2e2e2e;
    color: white;
}

.footer__logo img {
    filter:  brightness(0) invert(1);
    width: 100px;
    margin-bottom: .5em;
}

.footer .nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer .nav__link {
    padding-top: .6em;
    padding-left: 0;
}

.footer a {
    color: white;
}

.footer i {
    width: 1em;
    padding-right: 1em;
}











@media all and (min-width: 768px)
{
    .section {
        padding: 2em 2em 3em 2em;
    }

    .footer__logo{
        display: flex;
        justify-content: space-around;
        margin-bottom: 1em;
    }

    .footer .nav{
        display: flex;
        justify-content: space-around;
    }
}












@media all and (min-width: 1204px)
{

    .menu {
        display: flex;
        justify-content: space-between;
    }

    .menu__categorie{
        width: 32%;
    }
    

}